@font-face {
	font-family: 'Space Mono';
	src: url('/fonts/Spac_Mono/SpaceMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Space Mono';
	src: url('/fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
	font-size: 1.125rem;
}

h1,
h2 {
	font-family: 'Space Mono', monospace;
}

h1 {
	text-align: center;
	font-size: 2.25rem;
	margin-block: 1rem;
}

h2 {
	margin-bottom: 0.5rem;
}

a {
	color: royalblue;
}

p {
	margin-block: 0.75rem;
}

ul {
	padding-left: 1.5rem;
	margin-block: 0.75rem;
}

label {
	display: block;
}

section {
	margin-bottom: 2.5rem;
}

.error {
	color: red;
	font-weight: 500;
}

button,
input {
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
}

input {
	padding: 0.25rem;
	border: 1px solid black;
	width: 100%;
}

input:focus-visible {
	outline: 1px solid black;
}

button {
	background: black;
	color: white;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}

button:active {
	transform: translate(1px, 1px);
}

button:focus-visible {
	outline: 2px solid black;
	outline-offset: 2px;
}

button.fullwidth {
	margin-top: 0.5rem;
}

@media (max-width: 600px) {
	button.fullwidth {
		width: 100%;
	}
}

button.small {
	padding: 0rem 0.5rem;
}
