/* FONTS & COLORS */

@font-face {
	font-family: 'Space Mono';
	src: url('/fonts/Space_Mono/SpaceMono-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

:root {
	--bg-color: white;
	--font-color: black;
	--accent-color: orangered;
	--button-bg-color: black;
	--button-font-color: white;
	--secondary-bg-color: #eee;
	--error-color: red;
	--outline-color: black;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: black;
		--font-color: white;
		--accent-color: yellow;
		--button-bg-color: white;
		--button-font-color: black;
		--secondary-bg-color: #333;
		--error-color: orangered;
		--outline-color: white;
	}
}

/* RESETS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
}

button,
input {
	font: inherit;
	color: inherit;
	background: none;
	border: none;
}

/* GLOBAL STUFF */

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
	font-size: 1.125rem;
	background-color: var(--bg-color);
	color: var(--font-color);
}

/* ELEMENTS */

h1,
h2 {
	font-family: 'Space Mono', monospace;
}

h1 {
	text-align: center;
	font-size: 2.25rem;
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 0.5rem;
}

p {
	margin-block: 0.75rem;
}

ul {
	padding-left: 1.5rem;
	margin-block: 0.75rem;
}

section {
	margin-bottom: 2.5rem;
}

/* INTERACTIVE ELEMENTS */

input {
	padding: 0.25rem;
	border: 1px solid var(--outline-color);
	width: 100%;

	&:focus-visible {
		outline: 1px solid var(--outline-color);
	}
}

label {
	display: block;
	font-size: 1rem;
}

button {
	background: var(--button-bg-color);
	color: var(--button-font-color);
	padding: 0.25rem 0.75rem;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	transition: transform 120ms;

	&:active {
		transform: translate(1px, 1px);
	}

	@media (max-width: 600px) {
		&[type='submit'] {
			width: 100%;
			padding: 0.4rem 0.75rem;
		}
	}
}

:is(a, button):focus-visible {
	outline: 2px solid var(--outline-color);
	outline-offset: 2px;
}

/* UTILITIES */

.form-group {
	margin-bottom: 0.75rem;
}

.error {
	color: var(--error-color);
	font-weight: 500;
}

.accent {
	color: var(--accent-color);
}

.lucide {
	vertical-align: text-bottom;
}
